.b-show {
  position: relative;
  display: flex;
  justify-content: center;
  button {
    display: block;
    margin: 0;
    padding: 20px 40px;
    width: 100%;
  }
  .content {
    position: absolute;
    left: 0;
    top: 110%;
    width: 100%;
    height: 0;
    overflow: hidden;
    border: solid 1px grey;
    opacity: 0;
    transition: all .3s;
    &.show-content {
      opacity: 1;
      height: 150px;
    }
  }
}