.editablefield {
  flex-grow: 1;
  align-self: flex-start;
  span, input {
    background-color: rgb(238, 200, 186);
    font-size: 18px;
    height: 20px;
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    border: none;
  }
}