.editablefield {
  width: 100%;
  font-size: 14px;
  span, input {
    font-size: inherit;
    min-height: 35px;
    min-width: 100%;
    background-color: transparent;
    height: auto;
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    border: none;
  }
  textarea {
    border: none;
    resize: none;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
  }
}
