.editablefield {
  span, input {
    padding: 3px;
    font-size: 14px;
    min-height: 35px;
    background-color: white;
    height: auto;
    box-sizing: border-box;
    min-width: 100%;
    display: inline-block;
    border: none;
  }
  textarea {
    resize: none;
    width: 100%;
    box-sizing: border-box;
  }
}