@mixin round($angle: 10) {
    border-radius: $angle+px
};

@mixin triangle($direc: up) {
    &::after {
        content: '';
        position: absolute;
        border: 20px solid transparent;	
        @if $direc == up {
            border-bottom: 20px solid green;
        }
        @if $direc == down {
            border-top: 20px solid green;
        }
        @if $direc == left {
            border-right: 20px solid green;
        }
        @if $direc == right {
            border-left: 20px solid green;
        }
    }
}
   