.category {
  &>.editablefield {
    span,input {
      font-size: 28px;
      font-weight: bold;
    }
  }
  .title-columns {
    display: flex;
    span {
      margin: 20px 50px;
      font-size: 20px;
      font-weight: bold;
    }
  }
  .columns {
    display: flex;
    justify-content: space-between;
    .products-added {
      margin-right: 100px;
    }
    input {
      padding: 5px;
      margin-bottom: 10px;
      font-size: 18px;
    }
  }
  .title {
    font-size: 28px;
    margin-bottom: 50px;
    text-align: center;
  }
  ul {
    li {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
}