.todolist {
  padding: 20px;
  overflow-y: auto;
  list-style-type: none;
  li {
    display: flex;
    justify-content: flex-start;
    margin: 5px 0;
    span {
      margin-right: 5px;
    }
    div {
      display: flex;
      justify-content: space-between;
      span {
        cursor: pointer;
        &:hover {
          font-weight: bold;
          transform: scale(1.5);
        }
      }
    }
  }
  
  
  .completed {
    text-decoration: line-through;
    opacity: .5;
  }
}