.home-auth {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  p {
    margin-bottom: 20px;
  }
  a{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 10px 20px;
    border-radius: 40px;
    background-color: gray;
    font-size: 22px;
    color: darkslategray;
    text-decoration: none;
  }
}