.content {
  &.content_appearence {
    flex-grow: 1;
    margin-left: var(--indent);
  }
  .content__title {
    text-align: center;
  }
  .content__desc {
    padding: 20px 20px 100px 20px;
    font-size: 20px;
    background-color: var(--darkGrey);
  }
}