.main {
  &.main_appearence {
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--indent);
    padding: var(--indent);
    background-color: var(--lightGrey);
  }
  .red {
    color: red;
  }
}