.nav{
  &.nav_appearance {
    flex-grow: 1;
    margin-left: 100px;
    padding: var(--indent);
    background-color: var(--lightBlue);
  }
  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    a {
      padding: var(--indent);
    }
  }
}