.page-categories{
  h3 {
    text-align: center;
  }
  .all-categories {
    display: flex;
    justify-content: space-between;
    ul {
      list-style: none;
      li {
        margin: 10px 0;
      }
    }
  }
}