.product-info {
  h3 {
    font-size: 43px;
    margin-bottom: 50px;
  }
  .price {
    display: flex;
    font-size: 24px;
    margin-bottom: 20px;
    span {
      font-size: 26px;
    }
    input {
      font-size: 26px;
    }
  }
  .description {
    &>div {
      border: solid 1px gray;
    }
  }
  textarea {
    background-color: transparent;
    font-size: 18px;
  }
  button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 10px 20px;
    border-radius: 40px;
    background-color: gray;
    font-size: 22px;
    color: darkslategray;
    text-decoration: none;
    border: none;
    outline: none;
    text-transform: uppercase;
  }
}