.header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 20px;
  background-color: darkslategray;
  color: lightgrey;
  a {
    color: lightgray;
    text-decoration: none;

  }
  .user-info {
    span {
      font-size: 20px;
      margin-right: 20px;
    }
    a {
      font-size: 14px;
      margin-right: 10px;
    }
  }
}
