.footer {
  display: flex;
  &.footer_appearence {
    margin-top: var(--indent);
    padding: var(--indent);
    background-color: var(--lightGrey);
  }
  .footer__title {
    text-align: center;
  }
}