<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <!-- <%= htmlWebpackPlugin.options.version %> -->
    <h1>Market</h1>
    <main>
        <ul>
            <li>some text1</li>
            <li>some text2</li>
            <li>some text3</li>
            <li>some text4</li>
            <li>some text5</li>
            <li>some text6</li>
            <li>some text7</li>
            <li>some text8</li>
            <li>some text9</li>
            <li>some text10</li>
            <li>some text11</li>
            <li>some text12</li>
            <li>some text13</li>
            <li>some text14</li>
            <li>some text15</li>
            <li>some text16</li>
            <li>some text17</li>
            <li>some text18</li>
            <li>some text19</li>
            <li>some text20</li>
        </ul>
    </main> 
</body>
</html>